* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}

.title {
  text-align: center;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-input{
  width: 80%;
  height: 50px;
  padding: 16px;
  border-radius: 8px;
  border: none;
}

.search-box::placeholder{
  color:#c2baba;
}

.search-box:focus{
  outline: none;
}

input {
  margin: 0 0.5rem 0 0.5rem;
  width: 100%;
  border: none;
  outline: none;
  background: #f4f8f3;
  color: #292727;
}

::placeholder {
  color: #292727;
}

@media (max-width: 550px) {
  .footer {
      flex-direction: column;
      justify-content: center
  }
  
}
